<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Clientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Lista de Clientes</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Cargo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.id_cliente}"></td>
                    <td th:text="${cliente.nome}"></td>
                    <td th:text="${cliente.sobrenome}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.telefone}"></td>
                    <td th:text="${cliente.cargo}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
